*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e0dddd;
}
header{
    text-align: center;
    padding: 15px;
    background-color: rgb(240, 14, 14);
}
header>h1 {
    margin-bottom: 20px;
}
nav>ul{
    margin: 10px;
    list-style: none;
}
nav>ul li{
    display: inline;
}
nav>ul li a{
    text-decoration: none;
    padding: 8px 15px; 
}
nav>ul li a:link , nav>ul li a:visited{
    color: white;
}
nav>ul li a:hover{
    color:  rgb(240, 14, 14);
    background-color: white;
}
h1{
    font-size: 2.8em;
}
.branco{
    color: white;
}
main{
    width: 920px;
    margin: 0 auto;
}
.postagem{
    background-color: white;
    /* border: 1px solid red; */
    margin: 20px 0;
    padding: 15px;
}
.postagem>h2{
    color: rgb(240, 14, 14);
}
.imagem-postagem {
    width: 420px;
}
footer{
    width: 920px; 
    margin: 0 auto;
    background-color: rgb(240, 14, 14);
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
}
footer>ul{
    margin: 10px;
    list-style: none;
}
footer>ul li{
    display: inline;
}
footer>ul li a{
    text-decoration: none;
    padding: 8px 15px; 
}
footer>ul li a:link , footer>ul li a:visited{
    color: white;
}
footer>ul li a:hover{
    color:  rgb(240, 14, 14);
    background-color: white;
}


#tipos img{
    width: 6em;
    padding: 25px;
}
#tipos h2{
    font-size: 3em;
    padding: 15px;
    text-align: center;
}
#tipo-balao{
    width: 660px;
    margin: 15px auto;
    margin-bottom: 30px;
    background-color: rgb(235, 235, 235);
    padding: 15px;
    border-radius: 5px;
    border: 2px solid silver;
    display: none;
}
#main-tipos{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid rgb(59, 59, 59);
}
#tipo-balao img{
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 10em;
}
#botao-fechar{
    float: right;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    background-color: rgb(235, 235, 235);
    border: 2px solid silver;
    color: silver;

}
#setinha{
    width: 3em;
    height: 3em;
    display: fixed;
    float: right;
    background-color: rgb(235, 235, 235);
    border: 2px solid silver;
    margin-right: 5px;
}
#setinha a:link,#setinha a:visited{
    color: silver;
    text-decoration: none;
}


/* Pokedex */
#balao-pokedex {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid blue;
    background-color: rgb(240, 14, 14 , 0.7);
    border-radius: 10px;
    display: none;
}
#balao-pokedex>h2 {
    text-align: center;
}
#balao-pokedex>img {
    width: 200px;
    float: left;
    margin-left: 270px;
}

#stats{
    list-style: none;
    float: left;
    margin-top: 30px;
    margin-left: 50px;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: rgba(0, 255, 255, 0.671);
    padding: 15px;
}
.fundo-basico{
    background-color:rgb(235, 235, 235);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
}
#bug{
    background-color: rgb(23, 99, 23);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
}
#dark{
    background-color:black;
    padding: 5px;
    color: grey;
    border-radius: 5px;
    border: 1px solid grey;
    margin-right: 10px;
    text-align: center;
}
#dragon{
    background-color: rgb(1, 149, 194);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
}
#electric{
    background-color: rgb(247, 247, 75);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
}
#fairy{
    background-color:rgb(252, 106, 155);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
}
#fighting{
    background-color: rgb(204, 68, 14);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
}
#fire{
    background-color: rgb(228, 95, 6);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
}
#flying{
    background-color: rgb(127, 186, 221);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
}
#ghost{
    background-color: rgb(83, 5, 83);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
}
#grass{
    background-color: rgb(8, 170, 8);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
}
#ground{
    background-color: rgb(134, 87, 33);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
}
#ice{
    background-color: rgb(7, 178, 221);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
}
#normal{
    background-color: rgb(212, 135, 104);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
}
#poison{
    background-color:purple;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
}
#psychic{
    background-color: rgb(207, 24, 198);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
}
#rock{
    background-color: rgb(90, 62, 31);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
}
#steel{
    background-color:rgb(133, 130, 130);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
}
#water{
    background-color: rgb(86, 86, 248);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    text-align: center;
}
.clear{
    clear: both;
}
#fechar-pokedex{
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1.5px solid blue;
    background-color: rgba(160, 4, 4, 0.589);
}
#pesquisa{
    width: 90%;
    margin: 20px 200px;
}
#input-pokemon{
    width: 420px;
    height: 20px;
}
#botao-pesquisar{
    padding: 5px;
}